{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                {% if medication.image %}
                    <img src="{{ medication.image.url }}" alt="{{ medication.name }}" class="card-img-top img-fluid">
                {% else %}
                    <img src="{% static 'images/default_medication.jpg' %}" alt="Default Medication Image" class="card-img-top img-fluid">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ medication.name }}</h2>
                    <p class="card-text"><strong>Price:</strong> Le{{ medication.price }}</p>
                    <p class="card-text"><strong>Pharmacy:</strong> {{ medication.pharmacy.name }}</p>


                    <form id="add-to-cart-form" method="post" action="{% url 'pharmacy:add_to_cart' medication.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block add-to-cart-btn" data-medication-id="{{ medication.id }}">Add to Cart</button>
                    </form>






                </div>
            </div>
        </div>
        <div class="col-md-8">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                    <a class="nav-item nav-link" id="nav-indications-tab" data-toggle="tab" href="#nav-indications" role="tab" aria-controls="nav-indications" aria-selected="false">Indications</a>
                    <a class="nav-item nav-link" id="nav-side-effects-tab" data-toggle="tab" href="#nav-side-effects" role="tab" aria-controls="nav-side-effects" aria-selected="false">Side Effects</a>
                </div>
            </nav>
            <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                    <p><strong>Description:</strong> {{ medication.description }}</p>
                    <p><strong>Generic Name:</strong> {{ medication.generic_name }}</p>
                    <p><strong>Brand Name:</strong> {{ medication.brand_name }}</p>
                    <p><strong>Dosage Form:</strong> {{ medication.dosage_form }}</p>
                    <p><strong>Strength:</strong> {{ medication.strength }}</p>
                </div>
                <div class="tab-pane fade" id="nav-indications" role="tabpanel" aria-labelledby="nav-indications-tab">
                    <h4>Indications</h4>
                    <p>{{ medication.indications }}</p>
                    <h4>Contraindications</h4>
                    <p>{{ medication.contraindications }}</p>
                </div>
                <div class="tab-pane fade" id="nav-side-effects" role="tabpanel" aria-labelledby="nav-side-effects-tab">
                    <h4>Side Effects</h4>
                    <p>{{ medication.side_effects }}</p>
                    <h4>Interactions</h4>
                    <p>{{ medication.interactions }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="{% url 'pharmacy:all_medications' %}" class="btn btn-secondary">Back to Medications</a>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });


    $(document).ready(function() {
        $('#add-to-cart-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    alert('Item added to cart successfully!');
                    // Update cart count in navbar
                    $('#cart-count').text(response.cart_count);
                },
                error: function(xhr, errmsg, err) {
                    alert('Error adding item to cart. Please try again.');
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });



    
</script>
{% endblock %}